*
{
  .title
  {
    color: white;
  }

  .section
  {
    color: white;
    background-color: #5757574d;
  }

  .grid
  {
    display: grid;

    .cell
    {
      display: flex;
      align-items: center;
      justify-content: center;
      outline: solid black;
      background-color: gray;
    }

    img
    {
      height: auto;
      max-width: 75%;
    }
  }

  .result
  {
    grid-template-columns: 60% auto; 
    outline: solid black;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
