html, body { margin: 0; padding: 0; width: 100%; height: 100%;  }

@font-face 
{
	font-family: "Montserrat";
	size-adjust: 130%;
	src: url(Montserrat-VariableFont_wght.ttf);
}
@font-face 
{
	font-family: "Montserrat-Italic";
	size-adjust: 130%;
	src: url(Montserrat-Italic-VariableFont_wght.ttf);
}

:root{
	--main-color: rgb(20, 22, 36);
	--main-color-value: 20, 22, 36;
	--text-color: #252344;
	--text-color-bright: #e4e2ff;

	--footer-height: 7vh;
}

*
{
	font-family: Montserrat;
}

.gifScheme
{
	image-rendering: optimizeQuality;
}

.home 
{
	background-color: #cfc5bc;
}

.main
{
	padding-bottom: var(--footer-height);
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: var(--main-color);
	width: 100%;
	justify-content: center;
	display: flex;
	height: var(--footer-height);
}
.footer img {
	max-height: 100%;
}
.footer a {
	height: calc(var(--footer-height) - 2vh);
	padding: 1vh;
	align-content: center;
}
.footer .left {
	position: absolute;
	left: 0;
	background-color: rgb(56, 62, 104);
	color: var(--text-color-bright);
	border-radius: 9px;
	padding: 0;  
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 1vh;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.5s ease;
}
.footer .left:hover
{
	transform: scale(1.04);
	filter: brightness(1.05);
}

.title
{
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.18);
	max-width: 34%;
	margin: 1.5rem;
	padding: 8px;
}

.projectBar
{
  display: grid;
  justify-content: center;
  grid-template-columns: 80%;
  gap: 1rem;
  padding-top: 1%;
  padding-bottom: 1%;

	.project
	{
		align-content: center;
		text-align: center;
		background-color: var(--main-color);
		border-radius: 0.4rem;
		box-shadow: 0px 0px 0.5rem 0px rgba(0, 0, 0, 1);

		background-size: cover;
		background-position: center center;

		text-decoration: none;

		transition: all 0.5s ease;

		img
		{
			width: 100%;
			margin: auto;
			display: block;
		}
	}

	.detail
	{
		text-align: left;
		color: var(--text-color-bright);
		margin: 3%;
	}
}
.project:hover
{
	transform: scale(1.04);
	filter: brightness(1.05);
}

.disclaimer
{
	justify-content: center;
	display: flex;
	margin: 1rem;

	.text
	{
		font-family: Open Sans;
		text-align: center;
		color: #cf1717;
		background-color: #ffe1e1;
		border-style: dashed;
		display: block;
		max-width: 60%;
		padding: 0.7rem;
	}
}
