html, body { margin: 0; padding: 0; width: 100%; height: 100%;  }

:root{
	--main-color: hsl(233, 29%, 11%);
	--text-color: #252344;
	--text-color-bright: #e4e2ff;
}

*
{
	font-family: Montserrat;
}

body 
{
	background-color: #cfc5bc;
}

img:not(.imgText,.gifScheme)
{
	image-rendering: optimizeSpeed;
}

.gifScheme
{
	image-rendering: optimizeQuality;
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: var(--main-color);
	width: 100%;
	justify-content: center;
	display: flex;
	box-sizing: border-box;
}
.footer img {
	padding: 0.5rem;
	max-height: 3rem;
	width: auto;
	object-fit: contain;
}

.projectBar
{
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  gap: 1rem;
  padding-top: 1%;
  padding-bottom: 1%;

	.project
	{
	align-content: center;
	text-align: center;
	background-color: var(--main-color);
	border-radius: 0.4rem;
	box-shadow: 0px 0px 0.5rem 0px rgba(0, 0, 0, 1);

	text-decoration: none;
	font-size: 1.4rem;

	transition: all 0.5s ease;

		.pic
		{
			transition: all 0.5s ease;
		}
		.pic:hover
		{
			transform: scale(1.04);
			filter: brightness(1.05);
		}

		img
		{
			width: 100%;
			margin: auto;
			display: block;
		}
	}

	.detail
	{
		text-align: left;
		color: var(--text-color-bright);
		font-weight: bold;
		margin: 5%;
		font-size: 0.75rem;
	}
}
.project:hover
{
	transform: scale(1.04);
	filter: brightness(1.05);
}

.title
{
	text-decoration: underline; 
	font-size: 2rem; 
	color: var(--text-color);
}

.disclaimer
{
	justify-content: center;
	display: flex;
	margin: 1rem;

	.text
	{
		font-family: Open Sans;
		text-align: center;
		color: #cf1717;
		background-color: #ffe1e1;
		border-style: dashed;
		display: block;
		max-width: 60%;
		padding: 0.7rem;
	}
}
